
*{
	margin:0px;
	padding: 0px;
	box-sizing: border-box;
}
a{
	text-decoration: none;
}
.BXHMV{
	width: 300px;
	height: 620px;
	margin: 0px;
}

.image-BXHMV{
	background-image: url("https://avatar-nct.nixcdn.com/mv/2019/04/29/2/8/a/b/1556511965949_536.jpg");
	width: 300px;
	height: 168px;
	background-size: cover;
	position: relative;
}
.gradient-BXHMV{
	background: radial-gradient(circle, rgba(0,0,0,0.196516106442577) 0%, rgba(0,0,0,0.20211834733893552) 100%);
	width: 300px;
	height: 168px;
	opacity: 0;
	transition:all 0.5s;
}
.ace-BXHMV{
	position: absolute;
	width: 48px;
	bottom: 0px;
	float: left;
}
.ace-BXHMV h2{
	height: 48px;
	width: 48px;
	background-color: red;
	text-align: center;
	line-height: 48px;
	color: white;
}

.gradient-BXHMV:hover{
	opacity: 1;
}
.gradient-BXHMV i{
	position: absolute;
	display: flex;
	flex-direction:row;
	justify-content: center;
	align-items: center;
	height: 168px;
	width: 300px;
	color: white;
	margin-right: 3px;
}
.ind-BXHMV{
	position: absolute;
	bottom: 10px;
	left: 58px;
	color: white;
	font-size: 16px;
	font-weight: bold;
}
.image-BXHMV:hover .name-BXHMV{
	color: #2daaed;
}


.country-BXHNV{
	border: 1px solid red;
	border-radius: 20px;
	background-color: #e5e5e5;
	width: 300px;
	height: 32px;
	display: flex;
	margin: 10px 0px;
}
.country-BXHNV div{
	width: 100px;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.country-BXHNV div:hover{
	background-color: #e74c3c;
	cursor: pointer;

}

.info-BXHMV{
	width: 300px;
	height: 175px;
	border-bottom: 1px solid #eaeaea;
}
/*//////////////////////////////////*/

.info-BXHMVn{
	width: 300px;
	height: 73px;
	border-bottom: 1px solid #eaeaea;

}

.image-BXHMVn{
	background-image: url("https://avatar-nct.nixcdn.com/mv/2019/04/29/2/8/a/b/1556511965949_536.jpg");
	width: 110px;
	height: 62px;
	background-size: cover;
	position: relative;
	top: 4px;
}
.gradient-BXHMVn{
	background: radial-gradient(circle, rgba(0,0,0,0.196516106442577) 0%, rgba(0,0,0,0.20211834733893552) 100%);
	width: 110px;
	height: 62px;
	opacity: 0;
	transition:all 0.5s;
}
.ace-BXHMVn{
	position: absolute;
	width: 48px;
	bottom: 0px;
	float: left;
}
.ace-BXHMVn h2{
	height: 31px;
	width: 31px;
	text-align: center;
	line-height: 31px;
	color: #ff8708;
}
.ind-BXHMVn{
	width: 190px;
	position: absolute;
	bottom: 10px;
	left: 128px;
	font-size: 14px;

}
.image-BXHMVn:hover .name-BXHMVn{
	color: #2daaed;
}
.gradient-BXHMVn i{
	position: absolute;
	display: flex;
	flex-direction:row;
	justify-content: center;
	align-items: center;
	height: 62px;
	width: 110px;
	color: white;
	margin-right: 3px;
}
.gradient-BXHMVn:hover{
	opacity: 1;
}