.main{
	width: 90%;
	height: 1000px;
	margin-left: 80px;
}
.footer{
	clear: left;
}
.block1{
	float: left;
	margin: 40px  15px  15px 0px;

}
.Lefter{
	height: 425px;
}

.theme{
	position: relative;
	top: -42px;
}