.main{
	width: 90%;
	height: 1000px;
	margin-left: 80px;
}
.footer{
	/*grid-column: 1/3;
	border: 1px solid red;
	width: 100%;*/
	clear: left;
}
.block1{
	float: left;
		margin: 40px  15px  15px 0px;

}
.DanhSach{
	clear: left;
}
.Lefter{
	height: 425px;
}