
*{
	margin:0px;
	padding: 0px;
	box-sizing: border-box;
}
a{
	text-decoration: none;
}
.NGHESIHOT{
	width: 330px;
	height: 620px;
	margin: 0px;
}

.image-NGHESIHOT{
	background-image: url("https://i.imgur.com/Rv339Rs.jpg");
	width: 300px;
	height: 300px;
	background-size: cover;
	position: relative;
}
.gradient-NGHESIHOT{
	background: radial-gradient(circle, rgba(0,0,0,0.196516106442577) 0%, rgba(0,0,0,0.20211834733893552) 100%);
	width: 300px;
	height: 300px;
	opacity: 0;
	transition:all 0.5s;
}
.gradient-NGHESIHOT:hover{
	opacity: 1;
}
.gradient-NGHESIHOT p{
	position: absolute;
	display: flex;
	flex-direction:row;
	justify-content: center;
	align-items: center;
	height: 300px;
	width: 300px;
	color: white;
	margin-right: 3px;
}

.info-NGHESIHOT{
	width: 300px;
	height: 300px;
	margin: 16px 0px;
}
/*.////////////////////////
*/

.image-NGHESIHOT2{
	background-image: url("https://i.imgur.com/Rv339Rs.jpg");
	width: 142px;
	height: 142px;
	background-size: cover;
	position: relative;
}
.gradient-NGHESIHOT2{
	background: radial-gradient(circle, rgba(0,0,0,0.196516106442577) 0%, rgba(0,0,0,0.20211834733893552) 100%);
	width: 142px;
	height: 142px;
	opacity: 0;
	transition:all 0.5s;
}
.gradient-NGHESIHOT2:hover{
	opacity: 1;
}
.gradient-NGHESIHOT2 p{
	position: absolute;
	display: flex;
	flex-direction:row;
	justify-content: center;
	align-items: center;
	height: 142px;
	width: 142px;
	color: white;
	margin-right: 3px;
}

.info-NGHESIHOT2{
	width: 142px;
	height: 142px;
	float: left;
	margin-right: 16px;
}


