.out{
	width: 840px;
	border :1px solid red;
	height: 430px;
}
#slideRight{
	width: 842px;
	position: relative;
	padding-top: 341px;
}
#slideRight > img{
	position: absolute;
	top:0px;
	left:0px;
}
#slideRight label img{
	width: :150px;
	height: 70px;
	display: block;
}
input[name='radioSlide']{
	display: none;
}
#slideRight label{
	margin: 18px 18px 0px 0px ;
	float: left;
	cursor: pointer;
	opacity: .6;
}
#slideRight input[name='radioSlide']:checked + label{
	opacity: 1;
}
#slideRight input[name='radioSlide'] ~ img{
	opacity: 0;
}
#slideRight input[name='radioSlide']:checked + label + img{
	opacity: 1;
}