*{
  padding: 0px;
  margin: 0px;
  outline: 0px;
}
.slides-main{
  width: 839px;
  height: 425px;
  position: relative;
}
.large-image img{
  position: absolute;  
  top: 0px;
  left: 0px;
  opacity: 0;
}
.large-image img:nth-child(1){
  opacity: 1;
}
.dot-image img{
  position: relative;
  top:347px;
  left: 5px;
  width: 158px;
  height:68px;
  border: 2px solid #23262d;
} 
.dot-image{
  background-color: #23262d;
  height: 425px;
  width: 840px;
}
.around-main label{
  position: relative;
  top:-76px;
  left: 7px;
  width: 154px;
  height:64px;
  border: 2px solid red;
  float:left;
  margin-right: 8px;
  opacity: 0;
  cursor: pointer;
}
.around-main label:nth-child(1){
  opacity: 1;
}
